.bgg{

    background-image: url("assets/herobg.svg");
    background-size:cover; /* Ensures the image covers the entire element */
    background-position:center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%; /* Set width */
    height: 100vh;
     /* Optional: Full viewport height */
}

.btn{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,157,0,1) 0%, rgba(185,114,1,1) 100%);
}
    